.flxContainer {
  margin: 2px 0px 2px 0px; //margin on top and bottom
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flxItem {
  flex: 0 1 31%;
}

.flx-button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}
