<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>


</mat-toolbar>

<div class="flxContainer">

  <div class="flxItem">
    <div class="mat-display-2">mat-display-2</div>
    <mat-divider></mat-divider>
    <div class="mat-display-1">mat-display-1</div>

    <mat-divider></mat-divider>

    <h1 class="mat-headline">Header 1 - mat-headline</h1>
    <h2 class="mat-title">Header 2 - mat-title</h2>
    <h3 class="mat-subheading-2">Header 3 - .mat-subheading-2</h3>
    <h4 class="mat-subheading-1">Header 4 - .mat-subheading-1</h4>

  </div>

  <div class="flxItem">

    <h1 class="corso-headline">Header 1 - mat-h1</h1>
    <h2 class="mat-h2">Header 2 - mat-h2</h2>
    <h3 class="mat-h3">Header 3 - mat-h3</h3>
    <h4 class="corso-subheading-1">Header 4 - mat-h4</h4>

    <mat-divider></mat-divider>
    <p class="mat-body-1">mat-body-1 </p>
    <p class="mat-body-2">mat-body-2 </p>


    <div class="flx-button-row corso-button">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </div>
    <div class="flx-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </div>


  <div class="flxItem">

    <mat-form-field appearance="outline">
      <mat-label>Input Form Field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-hint>Input Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select Form field</mat-label>
      <mat-select>
        <mat-option>A</mat-option>
        <mat-option>B</mat-option>
        <mat-option>C</mat-option>
      </mat-select>
      <mat-hint>Select Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Chip Form field</mat-label>
      <mat-chip-list aria-label="Chip Selection">
        <mat-chip color="primary" selected>Primary</mat-chip>
        <mat-chip color="accent" removable="true">Accent</mat-chip>
      </mat-chip-list>
    </mat-form-field>

  </div>

</div> <!-- Close Flex Container -->


<div class="flxContainer">
  <div class="flxItem">
    <cc-card-one></cc-card-one>
  </div>
  <div class="flxItem">
    <cc-card-two></cc-card-two>
  </div>
  <div class="flxItem">
    <cc-card-three></cc-card-three>
  </div>

</div>