<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://dm2304files.storage.live.com/y4mGnhOzK-lMJaxE26r0_40f62LGt3cZOiXkdBx9Wt4nVixZ4UpyudjdWOew2Ba232HcPBtLdr4_BzBsUqqld0BuU-RTdBIBbmqvpedY8PwQPVRk1bJhe7q6Y3BR8w649ZAEnpom8i2C58hkdiq__OFYcxOko3RBpVYANAae0JbfT2CVLnWLBv0f3pB3ktCwIU2OP5-zpiRxLquxNCpZ0d7OQ/2018-04-05%203450.JPG?psid=1&width=921&height=767" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
